name: agent-automerge
on:
  pull_request_target:
    types: [labeled, synchronize, reopened]
permissions:
  contents: write
  pull-requests: write
jobs:
  merge:
    if: contains(github.event.pull_request.labels.*.name, 'automerge')
    runs-on: ubuntu-latest
    steps:
      - uses: peter-evans/enable-pull-request-automerge@v3
        with:
          pull-request-number: ${{ github.event.pull_request.number }}
          merge-method: squash
      - uses: peter-evans/auto-merge@v3
        with:
          pull-request-number: ${{ github.event.pull_request.number }}
          merge-method: squash
          commit-message: pull-request-title
