name: automerge
on:
  pull_request:
    types: [opened, reopened, synchronize, labeled]
permissions:
  contents: read
  pull-requests: write
jobs:
  enable:
    if: contains(github.event.pull_request.labels.*.name, 'automerge')
    runs-on: ubuntu-latest
    steps:
      - uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.GH_PAT }}
          merge-method: squash
