name: auto-merge-labeled
on:
  pull_request:
    types: [labeled, opened, synchronize, reopened]
jobs:
  merge:
    if: contains(github.event.pull_request.labels.*.name, 'automerge')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - run: gh pr merge "${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/pull/${{ github.event.pull_request.number }}" --squash --delete-branch --admin
        env:
          GH_TOKEN: ${{ secrets.ADMIN_PAT }}
