name: auto-merge
on:
  pull_request_target:
    types: [opened, synchronize, reopened, labeled]
jobs:
  queue:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: automerge
      - uses: peter-evans/enable-pull-request-automerge@v3
        with:
          merge-method: squash
