name: automerge
on:
  pull_request_target:
    types: [opened, reopened, synchronize, labeled]
jobs:
  enable:
    if: contains(toJson(github.event.pull_request.labels), 'automerge')
    runs-on: ubuntu-latest
    steps:
      - uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.GH_PAT }}
          merge-method: squash
