name: automerge
on:
  pull_request_target:
    types: [opened, labeled, synchronize, ready_for_review, reopened]
permissions:
  contents: write
  pull-requests: write
jobs:
  label-and-merge:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: automerge
      - uses: peter-evans/auto-merge@v3
        with:
          merge-method: squash
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          required-labels: automerge
