name: automerge
on:
  pull_request_target:
    types: [labeled, synchronize, reopened, ready_for_review]
permissions:
  pull-requests: write
  contents: write
jobs:
  enable:
    if: contains(github.event.pull_request.labels.*.name, 'automerge')
    runs-on: ubuntu-latest
    steps:
      - uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          merge-method: squash
