name: automerge
on:
  pull_request_target:
    types: [opened, labeled, synchronize, reopened, ready_for_review]
permissions:
  contents: write
  pull-requests: write
jobs:
  merge:
    runs-on: ubuntu-latest
    if: contains(join(github.event.pull_request.labels.*.name, ','), 'automerge') && github.event.pull_request.draft == false
    steps:
      - run: gh pr review "${{ github.event.pull_request.number }}" --approve
        env:
          GH_TOKEN: ${{ secrets.PAT_AUTOMERGE }}
      - run: gh pr merge "${{ github.event.pull_request.number }}" --squash --delete-branch
        env:
          GH_TOKEN: ${{ secrets.PAT_AUTOMERGE }}
