name: enable-automerge
on:
  pull_request:
    types: [labeled, synchronize]
jobs:
  enable:
    if: contains(github.event.pull_request.labels.*.name, 'automerge')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: peter-evans/enable-pull-request-automerge@v3
        with:
          merge-method: SQUASH
          token: ${{ secrets.GITHUB_TOKEN }}
