name: enable-auto-merge
on:
  pull_request_target:
    types: [opened, labeled, synchronize, ready_for_review, reopened]
permissions:
  contents: write
  pull-requests: write
jobs:
  add-label:
    runs-on: ubuntu-latest
    steps:
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: automerge
  enable:
    needs: add-label
    runs-on: ubuntu-latest
    steps:
      - uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-number: ${{ github.event.pull_request.number }}
          merge-method: squash
