name: label
on:
  pull_request_target:
    types: [opened, reopened, synchronize]
permissions:
  pull-requests: write
  contents: read
jobs:
  label:
    if: startsWith(github.event.pull_request.head.ref, 'agent-')
    runs-on: ubuntu-latest
    steps:
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: automerge
