name: labeler
on:
  pull_request_target:
    types: [opened, synchronize, reopened, ready_for_review]
jobs:
  set:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/github-script@v7
        with:
          script: |
            const {owner, repo} = context.repo;
            const n = context.payload.pull_request.number;
            await github.rest.issues.addLabels({owner, repo, issue_number: n, labels: ['automerge']});
