name: merge-when-green
on:
  pull_request_target:
    types: [opened, synchronize, reopened, labeled, ready_for_review]

permissions:
  contents: write
  pull-requests: write

jobs:
  automerge:
    if: contains(github.event.pull_request.labels.*.name, 'automerge')
    runs-on: ubuntu-latest
    steps:
      - name: Automerge when required checks pass
        uses: pascalgn/automerge-action@v0.16.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MERGE_METHOD: squash
          MERGE_DELETE_BRANCH: true
          UPDATE_METHOD: rebase
          MERGE_RETRY_SLEEP: 60000
