name: required-check
on:
  pull_request:
  pull_request_target:
    types: [opened, synchronize, reopened, labeled]
  workflow_dispatch:
jobs:
  required-check:
    runs-on: ubuntu-latest
    steps:
      - run: echo ok
