name: required-check
on:
  pull_request:
    types: [opened, synchronize, reopened, labeled]
permissions:
  contents: read
jobs:
  required-check:
    runs-on: ubuntu-latest
    steps:
      - run: echo ok
