name: required-check
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:
permissions: {}
jobs:
  ok:
    runs-on: ubuntu-latest
    steps:
      - run: echo ok
