name: safe-automerge
on:
  pull_request_target:
    types: [opened, reopened, synchronize, labeled, ready_for_review]
permissions:
  pull-requests: write
  contents: read
jobs:
  merge:
    if: contains(github.event.pull_request.labels.*.name, 'automerge')
    runs-on: ubuntu-latest
    steps:
      - uses: peter-evans/enable-pull-request-automerge@v3
        with:
          merge-method: squash
