name: web-build

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  web-build:
    name: web-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install
        run: npm ci

      - name: Build
        run: npm run -s build
